{{#extend "css"}}
  <link href="css/gallery.css" rel="stylesheet">
{{/extend}}

{{#extend "js"}}
  <script src="js/gallery.js"></script>
{{/extend}}


{{> tag }}


{{#if tagActive}}
  {{#if highlighted.length}}
    <h2 lang="it">Foto in evidenza:</h2>
    <h2 lang="en">Highlighted:</h2>

    {{> gallery highlighted }}
  {{/if}}


  {{#if trending.length }}
    <h2>Trending now:</h2>
    {{> gallery trending }}
  {{/if}}


  {{#if top.length}}
    <h2>Top voted:</h2>
    {{> gallery top }}
  {{/if}}


  {{#if recent.length}}
    <h2>Recently posted:</h2>
    {{> gallery recent }}
  {{/if}}

{{else}}

  {{#if tagObject.winnerPost }}
    <div class="winner text-center">
      <p class="lead">
        I vincitori di <span>{{tag}}</span> sono:<br>
        <a target="_blank" href="http://instagram.com/{{tagObject.winner1}}/">@{{tagObject.winner1}}</a>
        e
        <a target="_blank" href="http://instagram.com/{{tagObject.winner2}}/">@{{tagObject.winner2}}</a>
      </p>
      <a href="http://instagram.com/p/{{tagObject.winnerPost}}" target="_blank">
        <img class="img-responsive" src="{{tag}}/winner.jpg" alt="{{ tag }} winners!">
      </a>
    </div>
  {{/if}}


  {{#if highlighted.length}}
    <h2 lang="it">Foto in evidenza di {{tag}}:</h2>
    <h2 lang="en">{{tag}} highlighted:</h2>

    {{> gallery highlighted }}
  {{/if}}

  {{#if images.length}}
    <h2 lang="en">All images for {{tag}}:</h2>
    <h2 lang="it">Guarda le immagini di {{tag}}:</h2>
    {{> gallery images }}
  {{/if}}

{{/if}}