{{#extend "css"}}
  <link href="css/home.css" rel="stylesheet">
{{/extend}}

<div class="images">

  {{!-- Topic1 --}}
  <div class="image" style="background-image: url( 'img/expo/{{tagObject.topic1}}/{{randomIndex1}}.jpg' );">
    <span class="term" lang="en">{{tagprop tagObject 'topic1' 'en'}}</span>
    <span class="term" lang="it">{{tagprop tagObject 'topic1'}}</span>
  </div>

  {{!-- Topic2 --}}
  <div class="image" style="background-image: url( 'img/expo/{{tagObject.topic2}}/{{randomIndex2}}.jpg' );">
    <span class="term" lang="en">{{tagprop tagObject 'topic2' 'en'}}</span>
    <span class="term" lang="it">{{tagprop tagObject 'topic2'}}</span>
  </div>
</div>

{{> tag }}

{{> buttons }}

{{!-- English --}}
<div lang="en">
  <p class="lead"><strong>Your EXPO2015</strong> is the Instagram challenge launched by Expo on life, food and its perception.</p>

  <p class="lead">Be ready to be challenged every week by two new topics or dimensions about food.</p>

  <p class="lead">You can partecipate by posting your photos about one of the two topics of the week, tagging it with the official hashtag.</p>

  <p class="lead">The most popular photos will be added to the challenge gallery and will be promoted using the official EXPO social channels.</p>
</div>


{{!-- Italian --}}
<div lang="it">
  <p class="lead">Your EXPO2015 è la sfida <strong>Instagram</strong> lanciata da Expo sui temi della campagna <em>Cibo è Vita</em>.</p>

  <p class="lead">Puoi partecipare caricando ogni settimana le tue foto sul tema proposto. Interpreta il tema e fatti votare. Le foto più popolari saranno inserite nella gallery del concorso e promosse sui canali social ufficiali di Expo!</p>
</div>