<div class="logos">
  <img class="logo left" src="img/logo-expo.png" alt="EXPO 2015">
  <div class="title">{{title}}</div>
  <img class="logo right" src="img/logo-polimi.png" alt="Politecnico di Milano">
</div>
<nav>
  <label for="toggle_menu" class="toggle"><i class="fa fa-navicon"></i></label>
  <input type="checkbox" id="toggle_menu">
  <ul>
    <li class="{{#if home_active}}active{{/if}}"><a href="{{tag}}/home">Home</a></li>
    <li class="{{#if come_active}}active{{/if}}"><a href="{{tag}}/come">
      <span lang="it">Come funziona</span>
      <span lang="en">How it works</span>
    </a></li>
    <li class="{{#if gioca_active}}active{{/if}}"><a href="{{tag}}/gioca">
      <span lang="it">Gioca</span>
      <span lang="en">Play</span>
    </a></li>
    <li class="{{#if gallery_active}}active{{/if}}"><a href="{{tag}}/gallery">Gallery</a></li>
    <li class="{{#if profile_active}}active{{/if}}">
      <i class="fa fa-lock"></i>
      <a href="{{tag}}/profile">
        {{#if user}}
          <span>{{user.username}}</span>
        {{else}}
          <span lang="it">Profilo</span>
          <span lang="en">My profile</span>
        {{/if}}
      </a>
    </li>
    <li class="{{#if about_active}}active{{/if}}"><a href="{{tag}}/about">About</a></li>
  </ul>
</nav>