<div class="tag">
  <h1>{{tag}}</h1>
  <p lang="en">{{date @tagObject.startDate 'DD MMMM' 'en' }} - {{date @tagObject.endDate 'DD MMMM' 'en' }}</p>
  <p lang="it">{{date @tagObject.startDate 'DD MMMM' 'it' }} - {{date @tagObject.endDate 'DD MMMM' 'it' }}</p>
</div>